:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

*:not(i) {
  font-family: "Montserrat", sans-serif !important;
}

body {
  margin: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Framework */
.min-h-100vh {
  min-height: 100vh;
}
.cursor-pointer {
  cursor: pointer;
}
